.grid
  .grid-box &nbsp;

  .grid-box
    .bucket
      = image_tag 'nick-walsh.jpg', alt: 'Nick Walsh', height: 88, width: 88
      %div
        %h1 Nick Walsh
        %h4 <strong>Design Director</strong>, Envy
    %p Since 2010, I’ve worked as a front-end developer and design director at <a href="http://madewithenvy.com">Envy</a>. In that time, I’ve helped craft applications for companies like Cisco, Booz Allen Hamilton, and&nbsp;O’Reilly.
    %p Beyond the web, I share a household with my wonderful wife Courtney and our rather energetic dog, Wesley [a Westie]. On weekends, I can typically be found running or refereeing youth soccer. Find me elsewhere: #{link_to 'Twitter', 'http://twitter.com/nickawalsh'}, #{link_to 'GitHub', 'http://github.com/nickawalsh'}, #{link_to 'Dribbble', 'http://dribbble.com/nickawalsh'}

  .grid-box
    %h2 Open Source
    = link_to 'http://mvcss.io' do
      %h3 MVCSS
      %h4 Role: <strong>Co-creator</strong>
    %p Created alongside <a href="http://drewbarontini.com">Drew Barontini</a>, MVCSS is a Sass-based CSS architecture for creating predictable and maintainable application&nbsp;style.
    = link_to 'http://haml.info' do
      %h3 Haml
      %h4 Role: <strong>Branding, Design, Front-end</strong>
    %p In late 2012, I contributed an updated brand and informational site to the Haml&nbsp;project.

  .grid-box
    %h2 Selected Works
    = link_to 'http://exploredatascience.com' do
      %h3 Explore Data Science
      %h4 Role: <strong>Front-end</strong>
    %hr
    = link_to 'http://ivyapp.com' do
      %h3 Ivy: Player
      %h4 Role: <strong>Front-end</strong>
    %hr
    = link_to 'http://codeschool.com/courses/assembling-sass' do
      %h3 Assembling Sass
      %h4 Role: <strong>Instructor</strong>
    %hr
